Identity(
    atom: "hydrogen",
    isotope: "hydrogen1",
)

Display(
    name: "Hydrogen",
    symbol: "H",
    isotope: ["Hydrogen-1", "[^1]H"],
)

// Source: https://en.wikipedia.org/wiki/Hydrogen
Properties(
    atomic_radius: 53.0,
    atomic_mass: 1.008,
    num_protons: 1,
    num_neutrons: 0,
    num_electrons 1,

    electron_configuration: ["1s1"]
)