Identity(
    atom: "helium",
    isotope: "helium4",
)

Display(
    name: "Helium",
    symbol: "H",
    isotope: ["Helium-4", "[^4]H"],
)

// Source: https://en.wikipedia.org/wiki/Helium
Properties(
    atomic_radius: 140.0,
    atomic_mass: 4.002602,
    num_protons: 2,
    num_neutrons: 2,
    num_electrons 2,

    electron_configuration: ["1s2"]
)