Identity(
    atom: "oxygen",
    isotope: "oxygen16",
)

Display(
    name: "Oxygen",
    symbol: "O",
    isotope: ["Oxygen-16", "[^16]O"],
)

// Source: https://en.wikipedia.org/wiki/Oxygen
Properties(
    atomic_radius: 60.0,
    atomic_mass: 15.999,
    num_protons: 8,
    num_neutrons: 8,
    num_electrons 8,

    electron_configuration: ["1s2", "2s2", "2p4"]
)